@using BusinessObjectLayer;
@using System.Collections.Generic;

@{
    ViewData["allProduct"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @{
        List<Product> allProducts=(List<Product>)this.ViewData["allProducts"];
        foreach( Product p in allProducts){
            <p> @p.Id @p.Name @p.Description</p>
    }
    }
</div>
