@page
@using HR
@model PrivacyModel
@{
    Employee e1=new Employee();
    e1.id=1;
    e1.Name="Raj";
    e1.Salary=10000;
}
<h1>Employee Salary</h1>

<p>Id :@e1.id</p>
<p>Name: @e1.Name</p>
<p>Salary :@e1.Salary</p>

