<div align="center">
    <form method="post">
        <h1>Insert Data</h1>
            <table>
                <tr><td><b>Enter ID :</b></td><td><input type="number" name="id"></td></tr>

                <tr><td><b><button type="submit">InsertData</button></b></td></tr>
            </table>
    </form>
</div