@using BOL;
@using BLL;


<div align="center">
    <form method="post">
        <h1>Insert Data</h1>
            <table>
                <tr><td><b>Enter ID :</b></td><td><input type="number" name="id"></td></tr>
                <tr><td><b>Enter NameFirst :</b></td><td><input type="text" name="namefirst"></td></tr>
                <tr><td><b>Enter NameLast :</b></td><td><input type="text" name="namelast"></td></tr>
                <tr><td><b>Enter DOB :</b></td><td><input type="text" name="DOB"></td></tr>
                <tr><td><b>Enter Email-ID :</b></td><td><input type="email" name="EmailID"></td></tr>

                <tr><td><b><button type="submit">InsertData</button></b></td></tr>
            </table>
    </form>
</div
